.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-flex {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
}

.no-book {
  margin-top: 100px;
  text-align: center;
  color: #808080;
}
